<header>
    <nav class="nav-bar">
        <div class="left">
            <a href="/">Workout.Planner</a>
            <a href="/about">About</a>
        </div>
        <div class="right">
            {{#if currentUser}}
            <a href="/user/logout">Log out</a>
            <a href="/{{currentUser.details.username}}">Your workout &rarr;</a>
            {{else}}
            <a href="/user/login">Log in</a>
            <a href="/user/signup">Sign up &rarr;</a>
            {{/if}}
        </div>
    </nav>
</header>

<div class="hero">
    <h1>Meet The Team</h1>
</div>

<div class="about">
    <ul>
        <li>
            <h2>Firas Alshami</h2>
            <img class="pfp" src="../assets/images/randomjpg.jpg" alt="image">
            <p>
                I mainly worked on the app-index page and contributed to 
                the wireframes and helped style other pages.
            </p>
            <div class="links">
                <a href="https://github.com/falshami2002">
                <i class="bi bi-github"></i>
                <span>falshami2002</span>
            </a>
            <a href="https://www.linkedin.com/in/firas-alshami-b8959a260/">
                <i class="bi bi-linkedin"></i>
                <span>Firas Alshami</span>
            </a>
            </div>


        </li>
        <li>
            <h2>Louis Oporto</h2>
            <img class="pfp" src="../assets/images/randomjpg.jpg" alt="image">
            <p>Worked mainly on the landing page and entry pages for the user.</p>
            <div class="links">
                <a href="https://github.com/LouisOporto">
                <i class="bi bi-github"></i>
                <span>LouisOporto</span>
            </a>
            <a href="https://www.linkedin.com/in/louis-oporto-30a551281">
                <i class="bi bi-linkedin"></i>
                <span>Louis Oporto</span>
            </a>
        </li>
        <li>
            <h2>Nathan Chen</h2>
            <img class="pfp" src="../assets/images/Scott Dolphin.png" alt="image" width="226px">
            <p>I built this about page and worked on the majority of the css. I came up and implemented the site's color theme and fonts, as well as making it pretty.</p>
            <div class="links">
                <a href="https://github.com/scott-Dolphin">
                <i class="bi bi-github"></i>
                <span>github</span>
            </a>
            <a href="https://www.linkedin.com/in/nathan-chen-a2b582264/">
                <i class="bi bi-linkedin"></i>
                <span>linkedin</span>
            </a>
        </li>
        <li>
            <h2>Name here</h2>
            <img class="pfp" src="../assets/images/randomjpg.jpg" alt="image">
            <p>about the member</p>
            <div class="links">
                <a href="https://github.com/">
                <i class="bi bi-github"></i>
                <span>github</span>
            </a>
            <a href="https://github.com/">
                <i class="bi bi-linkedin"></i>
                <span>linkedin</span>
            </a>
        </li>
    </ul>
</div>
<br>
