<header>
    <nav class="split">
        <div class="left">
            <a href="/">PlannerPlain</a>
        </div>
        <div class="right">
            <a href="/user/login">Log in</a>
        </div>
    </nav>
    <h1>Meet the team</h1>
</header>
<div class="about">
    <ul>
        <li>
            <h2>Name here</h2>
            <img class="pfp" src="../assets/images/randomjpg.jpg" alt="image">
            <p>about the member</p>
            <div class="links">
                <a href="https://github.com/">
                <i class="bi bi-github"></i>
                <span>github</span> 
            </a>
            <a href="https://github.com/">
                <i class="bi bi-linkedin"></i>
                <span>linkedin</span> 
            </a>
            </div>


        </li>
        <li>
            <h2>Name here</h2>
            <img class="pfp" src="../assets/images/randomjpg.jpg" alt="image">
            <p>about the member</p>
            <div class="links">
                <a href="https://github.com/">
                <i class="bi bi-github"></i>
                <span>github</span> 
            </a>
            <a href="https://github.com/">
                <i class="bi bi-linkedin"></i>
                <span>linkedin</span> 
            </a>
        </li>
        <li>
            <h2>Name here</h2>
            <img class="pfp" src="../assets/images/randomjpg.jpg" alt="image">
            <p>about the member</p>
            <div class="links">
                <a href="https://github.com/">
                <i class="bi bi-github"></i>
                <span>github</span> 
            </a>
            <a href="https://github.com/">
                <i class="bi bi-linkedin"></i>
                <span>linkedin</span> 
            </a>
        </li>
        <li>
            <h2>Name here</h2>
            <img class="pfp" src="../assets/images/randomjpg.jpg" alt="image">
            <p>about the member</p>
            <div class="links">
                <a href="https://github.com/">
                <i class="bi bi-github"></i>
                <span>github</span> 
            </a>
            <a href="https://github.com/">
                <i class="bi bi-linkedin"></i>
                <span>linkedin</span> 
            </a>
        </li>
    </ul>
</div>
<br>