<header>
    <nav class="nav-bar">
        <div class="left">
            <a href="/">Workout.Planner</a>
            <a href="/about">About</a>
        </div>
        <div class="right">
            {{#if currentUser}}
            <a href="/user/logout">Log out</a>
            <a href="/{{currentUser.details.username}}">Your workout &rarr;</a>
            {{else}}
            <a href="/user/login">Log in</a>
            <a href="/user/signup">Sign up &rarr;</a>
            {{/if}}
        </div>
    </nav>
</header>

<div class="hero">
    <h1>Your Calendar</h1>
</div>

<div class="calendar-page">
    <div class="calendar-container">
        <header class="calendar-header">
            <h1 class="calendar-date">October 2022</h1>
            <div class="calendar-navigation">
                <button class="calendar-button" id="calendar-prev">Previous</button>
                <button class="calendar-button" id="calendar-next">Next</button>
            </div>
        </header>
        <div class="calendar-body">
            <ul class="calendar-days">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tues</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="calendar-dates"></ul>
        </div>
    </div>
</div>

<script src="/assets/js/calendar.js"></script>