<header>
    <nav class="nav-bar">
        <div class="left">
            <a href="/">PlannerPlain</a>
            <a href="/about">About</a>
        </div>
        <div class="right">
            {{#if currentUser}}
            <a href="/user/logout">Log out</a>
            <a href="/{{currentUser.details.username}}">Your shelf &rarr;</a>
            {{else}}
            <a href="/user/login">Log in</a>
            <a href="/user/signup">Sign up &rarr;</a>
            {{/if}}
        </div>
    </nav>
</header>

<div class="hero">
    <h1>New Event</h1>
</div>

<div class="event-page">
    <div>
        <form class="new-event">
            <label>
                <span>New Event</span>
                <div class="fixed block input-wrapper">
                    <input type="text" 
                    name="event=name"
                    autocomplete="Event"
                    placeholder="Add Event"
                    required>
                </div>
            </label>
            <label>
                <span>Date</span>
                <div class="fixed block input-wrapper">
                    <input type="date" 
                    name="date"                   
                    required>
                </div>
            </label>
            <label>
                <span>Time</span>
                <div class="fixed block input-wrapper">
                    <input type="time" 
                    name="date"                   
                    required>
                </div>
            </label>
            <label>
                <span>Notes</span>
                <div class="fixed block input-wrapper">
                    <textarea name="Notes-Area" id="" cols="255" rows="10"></textarea>
                </div>
            </label>

            <button class="accent block" type="submit">Create Event</button>
        </form>
    </div>
</div>