<header>
    <nav class="nav-bar">
        <div class="left">
            <a href="/">Workout.Planner</a>
            <a href="/about">About</a>
        </div>
        <div class="right">
            {{#if currentUser}}
            <a href="/user/logout">Log out</a>
            <a href="/{{currentUser.details.username}}">Your Workout &rarr;</a>
            {{else}}
            <a href="/user/login">Log in</a>
            <a href="/user/signup">Sign up &rarr;</a>
            {{/if}}
        </div>
    </nav>
</header>

<div class="hero">
    <h1>Your Personal, Workout Planner.</h1>
    <p class="bio">
        <em>
        Have a workout routine for the week organized and clean so you don't have
        to.
        </em>
    </p>
</div>


<article class="sidebar-split">
    <div class="mainbar">
        <h2>Welcome to Workout.Planner!</h2>
        <p>
            Are you interested in going to the gym, but frustrated at making a workout routine every time
            you go? Planning a full workout routine for the week can be time consuming and difficult to always remember.

        </p>
        <p>
            So instead with the help of <strong>Workout.Planner</strong> you can manage your routines by the day and never forget what your goals
            are.

        </p>

        <h2>Why use it?</h2>
        <p>
            Quick and easy is the envision of <strong>Workout.Planner</strong>. It requires little effort from the user to create a weekly routine.
            No more last second planning and more focus on doing the workouts.
        </p>
    </div>
    <div class="sidebar">
        <section>
            <h2>Workout.Planner Examples</h2>
            <p>
                Take a glimpse to what your planner can look like. Highly dynamic in what routines you choose to do at your own pace.
            </p>
            <div class="popular-shelves">
                <a class="popular-item block" href="../assets/images/workout_example.png">
                    <div class="popular-header">Example Planner &rarr;</div>
                    <div class="popular-bio">
                        Simple, but organized and palatable to the eye.
                    </div>
                </a>
            </div>
        </section>
    </div>
</article>
{{!-- 
<hr>
<br>

<div class="about">
    <h1>Meet the team</h1>
    <ul>
        <li>
            <h2>Name here</h2>
            <img src="../assets/images/randomjpg.jpg" alt="image">
            <p>about the member</p>
            <a href="https://github.com/">github</a>
            <br>
            <a href="https://www.linkedin.com/feed/">linkedin</a>

        </li>
        <li>
            <h2>Name here</h2>
            <img src="../assets/images/randomjpg.jpg" alt="image">
            <p>about the member</p>
            <a href="https://github.com/">github</a>
            <br>
            <a href="https://www.linkedin.com/feed/">linkedin</a>
        </li>
        <li>
            <h2>Name here</h2>
            <img src="../assets/images/randomjpg.jpg" alt="image">
            <p>about the member</p>
            <a href="https://github.com/">github</a>
            <br>
            <a href="https://www.linkedin.com/feed/">linkedin</a>
        </li>
        <li>
            <h2>Name here</h2>
            <img src="../assets/images/randomjpg.jpg" alt="image">
            <p>about the member</p>
            <a href="https://github.com/">github</a>
            <br>
            <a href="https://www.linkedin.com/feed/">linkedin</a>
        </li>
    </ul>
</div>
<br> --}}

