{{layout "entry"}}
<script>
    document.title="Login - Workout.Planner";

</script>
<header>
    <nav class="entrynav">
        <div class="left">
            <a href="/">Workout.Planner</a>
        </div>
        <div class="right">
            <a href="/user/signup">Sign Up</a>
        </div>
    </nav>
</header>

<div class="entryTitle">
    <h1>Log In</h1>
</div>

<div class="floatbox login">
    <div>
        <form action="/user/login" method="post">
            <label>
                <span>Username</span>
                <div class="fixed block input-wrapper">
                    <input type="text" name="username"
                                    autocomplete="username"
                                    placeholder="username"
                                    required>
                </div>
            </label>
            <label>
                <span>Password</span>
                <div class="fixed block input-wrapper">
                    <input type="password" name="password"
                                        autocomplete="current-password" required>
                </div>
            </label>
            <p>
            <a class="login-alt" href="/user/forgot">Forgot your password?</a>
            </p>
            <button class="accent block" type="submit">Log in &rarr;</button>
        </form>
    </div>
</div>
