
{{layout "entry"}}
<script>
    document.title="Reset Password - Weekly Planner";
</script>
<header>
    <nav class="entrynav">
        <div class="left">
            <a href="/">Weekly Planner</a>
        </div>
        <div class="right">
            <a href="/user/login">Log in</a>
        </div>
    </nav>
</header>

<div class="entryTitle">
    <h1>Set a new password</h1>
</div>

<div class="floatbox">
    <div>
    <form action="" method="post">
        <label>
            <span>New password</span>
            <div class="fixed block input-wrapper">
                <input type="password" name="password" required>
            </div>
        </label>
        <button class="accent block" type="submit">Update password</button>
    </form>
    </div>
    <div class="entryinfo">Enter a new password you will remember.</div>
</div>
