

.about {
    --myMargin: 20px;
    margin:var(--myMargin);
}
.about h1 {
    text-align: center;
}


.about li {
    width: 400px;
    height: 650px; 
    border: 1px solid black;
    list-style: none;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px gray;

}
.about li .links {
    display: flex;
    justify-content: space-around;
}

.about li h2 {
    text-align: center;
}
.pfp {
    display:block;
    margin:auto;
}
.about li .ico {
    width: 20px;
}

.about li p {
    border: 1px solid black;
    margin: var(--myMargin);
    height: 225px;

}
.about li a {
    margin: var(--myMargin);
}



.about ul {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: var(--myMargin);

}

.nav-bar {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    left: 0;
    top: 0;
    padding-right: 5vw;
}

.nav-bar .left {
    margin-left: 2vw;
}

.nav-bar .right {
    margin-right: 2vw;
}

.nav-bar .left a, .nav-bar .right a {
    padding: 5px;
    animation: bounce 800ms;
}

.nav-bar .left a:hover, .nav-bar .right a:hover {
    animation: bounce 800ms;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

.calendar-page {
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-container {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.calendar-header {
    display: flex;
    width: 100%;
    height: 10%;
}

.calendar-date {
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.calendar-navigation {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.calendar-button {
    margin: 1rem;
    height: 50%;
    width: 20%;
}

.calendar-body {
    height: 90%;
    width: 100%;
}

.calendar-days {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    height: 2%;
}

.calendar-days li {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-dates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    height: 85%;
}

.calendar-dates li {
    float: left;
    height: 100%;
}

.calendar-dates .inactive {
    color: gray;
}

.calendar-dates .active {
    color: red;
}

.calendar-dates li {
    border: 2px solid black;
}